django>=5.0
# Превращает Django в API (чтобы фронтенд мог забирать отсюда данные)
djangorestframework>=3.14
# "Пропуск" для фронтенда. Без него браузер будет блокировать запросы с другого порта
django-cors-headers>=4.3
# Современная и безопасная авторизация по токенам (JWT)
djangorestframework-simplejwt>=5.3
# Мощный инструмент для фильтрации (позволит исполнителю искать по району, метражу и т.д.)
django-filter>=23.5